<h1>About PoE checklist NG</h1>
<p>
  Inspired by <a id="about-org-gh" href="https://github.com/MatisLepik/poe-checklist">poe-checklist</a>, I wanted to reboot the project
  in angular because I was to dumb to maintain react.js.
</p>

<p>
  This site will help you keep track of some of the content that you'll want to finish at the start of a league, or
  character. If you check an item, it will be stored on your machine, so next time you come back, the information will
  still be here.
</p>

<p>
  If you have questions or ideas, let me know on <a id="about-gh" href="https://github.com/ThePsyjo/poe_checklist_ng">GitHub</a>
</p>
