<div class="container p-2">
  <div class="d-flex justify-content-between">
    <div class="flex-column"><h2>Maps ({{version}})</h2></div>
    <div class="flex-column">
      <button type="button" class="btn-close btn-close-white" aria-label="Clear" data-bs-toggle="modal"
              data-bs-target="#clearAll"></button>
    </div>
  </div>
</div>

<app-filters
  storageKey="map"
  [isCollapse]="true"
  [isSearch]="true"
  [filterOrder]="filter_order"
  [filters]="filters"
>
</app-filters>

<div class="modal fade" id="clearAll" tabindex="-1" role="dialog" aria-labelledby="clearAllModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="clearAllModal">Clear</h5>
      </div>
      <div class="modal-body">
        Clear all check marks? This can not be undone!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="clear('all')">Clear</button>
      </div>
    </div>
  </div>
</div>

<table matSort (matSortChange)="sortData($event)" matSortActive="tier"
       class="table text-primary table-hover border-secondary">
  <thead>
  <tr>
    <th mat-sort-header="name" scope="col">Name</th>
    <th mat-sort-header="tier" scope="col">Tier</th>
    <th mat-sort-header="region" scope="col">Region</th>
    <th class="text-center" scope="col" data-toggle="tooltip" data-placement="top" title="Completed">
      C
    </th>
    <th class="text-center" scope="col" data-toggle="tooltip" data-placement="top" title="Bonus objective completed">
      B
    </th>
    <th class="text-center" scope="col" data-toggle="tooltip" data-placement="top" title="Atlas objective completed">
      A
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let map of model">
    <ng-container *ngIf="isVisible(map)">
      <tr [class]="colorClass(map)">
        <td (click)="onRowClick(map)" [class]="colorClass(map, true)">{{map.name}}</td>
        <td (click)="onRowClick(map)">{{map.tier}}</td>
        <td (click)="onRowClick(map)">{{map.region}}</td>
        <td (click)="onTdClick(map, 'c')">
          <div class="text-center">
            <input class="form-check-input" type="checkbox" [(ngModel)]="map.c" (ngModelChange)="saveModel()"/>
          </div>
        </td>
        <td (click)="onTdClick(map, 'b')">
          <div class="text-center">
            <input *ngIf="map.isOnAtlas" class="form-check-input" type="checkbox" [(ngModel)]="map.b"
                   (ngModelChange)="saveModel()"/>
          </div>
        </td>
        <td (click)="onTdClick(map, 'a')">
          <div class="text-center">
            <input *ngIf="map.isOnAtlas" class="form-check-input" type="checkbox" [(ngModel)]="map.a"
                   (ngModelChange)="saveModel()"/>
          </div>
        </td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
