<div class="container p-2">
  <h2>Passive quests</h2>
</div>

<app-filters
  storageKey="passive"
  [isBordered]="false"
  [filterOrder]="filter_order"
  [filters]="filters"
>
</app-filters>

<div class="modal fade" id="clearAll" tabindex="-1" role="dialog" aria-labelledby="clearAllModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="clearAllModal">Clear</h5>
      </div>
      <div class="modal-body">
        Clear all check marks? This can not be undone!
      </div>
      <div class="modal-footer">
        <button id="passives-reset-cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="passives-reset-accept" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="clear()">Clear</button>
      </div>
    </div>
  </div>
</div>

<table matSort (matSortChange)="sortData($event)" matSortActive="act"
       class="table text-primary table-hover border-secondary">
  <thead>
  <tr>
    <th id="passives-sort-act" mat-sort-header="act" scope="col">Act</th>
    <th id="passives-sort-name" mat-sort-header="name" scope="col">Quest</th>
    <th id="passives-sort-obj" mat-sort-header="objective" scope="col">Objective</th>
    <th class="text-center" scope="col">
      <button id="passives-reset" type="button" class="btn-close btn-close-white" aria-label="Clear" data-bs-toggle="modal"
              data-bs-target="#clearAll"></button>
    </th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let row of model">
    <ng-container *ngIf="isVisible(row)">
      <tr (click)="onRowClick(row)">
        <td [class.text-secondary]="row.checked">{{row.act}}</td>
        <td>
          <a [class.text-secondary]="row.checked" (click)="$event.stopPropagation()" href="{{questLink(row)}}" target="_blank">
            {{row.name}}
          </a>
        </td>
        <td [class.text-secondary]="row.checked">{{row.objective}}</td>
        <td>
          <div class="text-center">
            <input class="form-check-input" type="checkbox" [(ngModel)]="row.checked" (ngModelChange)="saveModel()"/>
          </div>
        </td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
