$theme-colors: (
  //"primary": #c0c0c0,
  "primary_highlight": #dfcf99,
  "primary": #9e926c,
  "secondary": #44442f,
  "unique": rgb(175, 95, 28),
  "unique2": rgb(85, 46, 14),
  "dark-trans-10": rgba(0, 0, 0, 0.9),
  "dark-trans-20": rgba(0, 0, 0, 0.8),
  "dark-trans-50": rgba(0, 0, 0, 0.5),
  "dark-trans-80": rgba(0, 0, 0, 0.2),
  "dark-trans-90": rgba(0, 0, 0, 0.1),
);

$body-color: map-get($theme-colors, primary) !default;
$text-color: map-get($theme-colors, primary) !default;

body{
  background: #000000 url(/assets/bg.jpg) fixed center center;
  //color:#eee;
  //font-size:16px;
  //font-family:Montserrat,Open Sans,Verdana,sans-serif
}
.table-hover tbody tr:hover td
{
  background-color: map-get($theme-colors, dark-trans-50);
}
.cursor-help {
  cursor: help;
}

@import "../node_modules/bootstrap/scss/bootstrap";

input[type=checkbox]{
  box-sizing: border-box;
  line-height: normal;
  background-color: initial;
  border-color: map-get($theme-colors, primary);
  //cursor: default;
}
input[type=checkbox]:checked{
  background-color: initial;
  border-color: map-get($theme-colors, primary);
  text-align: center;
}
input[type=checkbox]:focus {
  outline: none;
  border-color: map-get($theme-colors, primary);
  box-shadow: none;
}
input[type=text]:focus {
  outline: none;
  border-color: map-get($theme-colors, primary);
  box-shadow: none;
}
input[type=text]{
  outline: none;
  border-color: map-get($theme-colors, primary);
  box-shadow: none;
}
input[type=number]{
  outline: none;
  background-color: initial;
  color: map-get($theme-colors, primary);
  border-color: map-get($theme-colors, primary);
  box-shadow: none;
}
a{color: map-get($theme-colors, primary);}
a:hover{color: map-get($theme-colors, primary_highlight);}
//input[type=checkbox]:checked:after{
//  color: map-get($theme-colors, primary);
//  content: "\2714";
//}
//.form-check-input:checked[type=checkbox] {
//  background-image: none;
//}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
